<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hbjy.carlocation"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="14" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" >
    </uses-permission>
    <!-- 使用定位功能所需权限,demo已集成百度定位SDK,不使用定位功能可去掉以下6项 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>

    <permission android:name="android.permission.BAIDU_LOCATION_SERVICE" >
    </permission>

    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_GPS" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />

    <application
        android:name="com.hbjy.CarInfoApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_car_logo"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >
        <activity
            android:name="com.hbjy.PreLoginActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.hbjy.LoginActivity"
            android:label="@string/test_name"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.hbjy.MainActivity"
            android:label="@string/test_name"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.hbjy.TestActivity"
            android:label="@string/test_name" >
        </activity>
        <activity
            android:name="com.hbjy.InfoCarLocActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name="com.hbjy.DeviceInfoActivity" >
        </activity>
        <activity android:name="com.hbjy.TrackPlayActivity" >
        </activity>
        <activity android:name="com.hbjy.MileRecordList" >
        </activity>
        <activity android:name="com.hbjy.TaskListActivity" >
        </activity>
        <activity android:name="com.hbjy.TaskDetailActivity" >
        </activity>
        <activity android:name="com.hbjy.oils.FuelConsumption" >
        </activity>
        <activity android:name="org.achartengine.GraphicalActivity" >
        </activity>
        <activity android:name="com.hbjy.MotorDetailActivity" >
        </activity>

        <!-- 定位需要的服务 -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>

        <activity
            android:name="com.hbjy.GoodsActivity"
            android:label="@string/title_activity_goods" >
        </activity>
        <activity
            android:name="com.hbjy.GoodsTraceActivity"
            android:label="@string/title_activity_goods_trace" >
        </activity>
        <activity
            android:name=".PlansTransportActivity"
            android:label="@string/title_activity_plans_transport" >
        </activity>
        <activity
            android:name=".PlanDetailActivity"
            android:label="@string/title_activity_plan_detail" >
        </activity>
        <activity
            android:name=".UserProfileActivity"
            android:label="@string/title_activity_user_profile" >
        </activity>
        <activity
            android:name=".FeedbackActivity"
            android:label="@string/title_activity_feedback" >
        </activity>
        <activity
            android:name=".ShowUserProfileActivity"
            android:label="@string/title_activity_show_user_profile" >
        </activity>
    </application>

</manifest>
